{%extends "base.html"%}
{%block conteudo%}
    <main>
        <section class="texto-caixa">
            <h1 class="titulo-sobre">Sobre o projeto</h1>
            <p class="texto-sobre">Neste projeto de website para identificação de ordem de insetos alados é uma plataforma online que tem como objetivo ajudar os usuários a identificarem os diferentes tipos de insetos alados existentes. Essa ferramenta é de grande utilidade para pessoas que possuem interesse na entomologia, estudantes e profissionais da área. <br><br>

                O website oferece uma interface intuitiva e amigável ao usuário, onde é possível encontrar uma ampla variedade de informações sobre os insetos alados, incluindo fotos, descrições, características físicas, habitats, alimentação, ciclo de vida e outros aspectos relevantes para a identificação desses animais. <br><br>
                
                Além disso, a plataforma permite que os usuários compartilhem suas próprias observações e fotos de insetos alados, contribuindo para a construção de uma base de dados cada vez mais abrangente e precisa.</p>

                <footer class="rodape-sobre">
                    <h3 class="nome-sobre">Lucas Marinho - Back-end</h3>
                    <h3 class="nome-sobre">João Vieira - Front-end</h3>
                </footer>
        </section>
    </main>
{%endblock%}
